
@{
    ViewBag.Title = "About";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>About</h2>
<p style="padding-left:40px">
    Mpiti Funeral Undertakers is there to give personalized quality service characterised by on time delivery and to render cost effective funeral service on a 24 hour basis.<br />
    At the heart of our operation is a commitment to providing customers with quality service at an affordable price, and we have forged relationships with leading organisations<br /> to share knowledge for maximum benefit of all with whom we interact.
    We are a service corporation that is committed to providing service beyond excellence, maintaining confidentially and respect for the deceased and privacy for our client families.
    <br />
</p>

@*Our Services
Mpiti Funeral Undertakers offers the following services:
•	Removal and care of the Deceased.
•	Care and conservation of the deceased.
•	Funeral services.
•	Order flowers for the coffin and church.
•	Preplanning of funerals.
•	Long distance services.
•	Memorial Stones.*@

<div id="body">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#one" data-toggle="tab"><i class="icon-briefcase"></i>Vision</a></li>
        <li><a href="#two" data-toggle="tab">Mission</a></li>
        <li><a href="#three" data-toggle="tab">Our Aim</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="one">
            <p>
                Mpiti Funeral Undertakers is striving to be one of the best organisations offering funeral services in South Africa.
            </p>
        </div>
        <div class="tab-pane" id="two">
            <p>
                To give best service to our clients irrespective of class, race and ethnicity.
            </p>
        </div>
        <div class="tab-pane" id="three">
            <p>
                <ul>
                    <li>To support you through your hour of heartache.</li>
                    <li>To guide you with our knowledge and experience through the funeral or cremation processes.</li>
                    <li>To strive towards providing support and guidance to them that grieve.</li>
                    <li>To offer hope during times of loss.</li>
                </ul>                 
            </p>
        </div>
    </div>
</div>