
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>Contact</h2>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="widget">
                    <h5 class="widgetheading">Corporate Addresses</h5>
                    <ul class="recent">
                        <li>
                            <p class="glyphicon glyphicon-map-marker">
                                &nbsp;Mpiti Funeral Undertakers <br />
                                &nbsp;&nbsp;&nbsp; 16 Hope Street
                                <br />&nbsp;&nbsp;&nbsp; Bizana, 4801<br />&nbsp;&nbsp;&nbsp; South Africa
                            </p>
                        </li>
                        <li>
                            <p class="glyphicon glyphicon-map-marker">
                                &nbsp;Mpiti Funeral Undertakers <br />
                                &nbsp;&nbsp;&nbsp; 90 Main Street
                                <br />&nbsp;&nbsp;&nbsp; Kokstad, 4701<br />&nbsp;&nbsp;&nbsp; South Africa
                            </p>
                        </li>
                        <li>
                            <p class="glyphicon glyphicon-map-marker">
                                &nbsp;Mpiti Funeral Undertakers <br />
                                &nbsp;&nbsp;&nbsp; 128 Main Street
                                <br />&nbsp;&nbsp;&nbsp; Flagstaff, 4811<br />&nbsp;&nbsp;&nbsp; South Africa
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <aside class="right-sidebar">
                    <div class="widget">
                        <h5 class="widgetheading">Find us via</h5>
                        <ul class="recent">
                            <li>
                                <h6><a href="#"><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp; info@mpitifuneral.co.za</a></h6>
                            </li>
                            <li>
                                <h6><a href="#"><i class="glyphicon glyphicon-earphone"></i>&nbsp;&nbsp; 031 340 9082</a></h6>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>

        </div>
    </div>
</section>
